<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Images</title>
</head>
<body>
<table>
    <tr>
        <td>图片编号</td>
        <td>图片名称</td>
        <td>预览</td>
    </tr>
    <tr th:each="a:${all}">
        <td th:text="${a.getImg_uuid()}"></td>
        <td><a th:text="${a.getImg_name()}" th:href="@{/download}+'?img_name='+${a.getImg_name()}"></a></td>
        <td ><img th:src="'/compress/'+${a.getImg_zipurl()}"/></td>
    </tr>
    <tr th:if="${all.isEmpty()}">
        <td colspan="3" style="text-align: center">暂无数据...</td>
    </tr>
</table>
</body>
</html>