<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Images</title>
</head>
<body>
<table>
    <tr>
        <td>图片编号</td>
        <td>图片名称</td>
        <td>图片路径</td>
    </tr>
    <tr th:each="a:${all}">
        <td th:text="${a.getImg_uuid()}"></td>
        <td th:text="${a.getImg_name()}"></td>
        <td th:text="${a.getImg_url()}"></td>
    </tr>
    <tr th:if="${all.isEmpty()}">
        <td colspan="3" style="text-align: center">暂无数据...</td>
    </tr>
</table>
</body>
</html>